<phpunit bootstrap="vendor/autoload.php" colors="true" testdox="true" defaultTestSuite="default">

    <testsuites>

        <testsuite name="default">
            <directory>test</directory>
        </testsuite>

        <testsuite name="all-operations">
            <directory>test/operations</directory>
        </testsuite>

        <testsuite name="operations">
            <file>test/operations/OperationsTest.php</file>
        </testsuite>

    </testsuites>
</phpunit>